<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="/js/jquery-1.9.1.min.js"></script>
<link rel="stylesheet" href="/js/layui/css/layui.css"/>
<link rel="stylesheet" href="/js/layui/css/modules/laydate/default/laydate.css"/>
<link rel="stylesheet" href="/js/layui/css/layui.css"  media="all"/>
<script type="text/javascript" src="/js/layui/layui.js"></script>
<script src="/js/layui/layui.all.js" charset="UTF-8"></script>
<script src="/js/layui/lay/modules/tree.js"></script>
<body>

<input type="hidden"  id="shouId" th:value="${shouid}">
<button class="layui-btn layui-btn-radius layui-btn-warm" onclick="updatestatus()">受理订单</button>
<div>
    <center>收发货人信息</center>
<table class="layui-hide" id="test"  lay-filter="tblist"></table>
</div>

<div>
    <center>货物信息</center>
<table class="layui-hide" id="test1"  lay-filter="tblist"></table>
</div>

<div>
    <center>增值服务</center>
    正本回单：1份 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;代收货款：20000.00 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;货物保价：20000.00
</div>
<div>
    <center>运单信息</center>
    预估信息：<span id="spanid"></span>
    （干线运输费：1800.00

    正本回单费：10.00

    代收货款费：10.00

    保险费：80.00）
</div>


<div>
    <center>动态信息</center>
    <div class="layui-progress layui-progress-big" lay-filter="demo" lay-showPercent="true">
        <div class="layui-progress-bar"  layui-bg-red lay-percent="0%"></div>
    </div>

</div>
<button class="layui-btn layui-btn-radius layui-btn-danger" onclick="fangfa4()">拒接受理</button>
</body>
<script>
    $(function(){
        fangfa();
        fangfa1();
        fangfa2();
        fangfa3();
    })
    function fangfa(){
        var id = $("#shouId").val();
    layui.use('table', function () {
        var table = layui.table;
        table.render({
            elem: '#test'
            , url: '../ground/referdetailed?id='+id
            , cols: [
                [

                    {field: 'id', width: 80, title: 'id', sort: true},
                    {field: 'dingdanhao', width: 80, title: '订单号', sort: true}
                    , {field: 'adate', width: 80, title: '下单时间', sort: true}
                    ,{field: 'origin',  minWidth: 100, title: '始发地'}
                    , {field: 'provenance',  minWidth: 100, title: '目的地'}
                    , {field: 'contact', width: 80, title: '发货人',}
                    , {field: 'phone', width: 80, title: '发货人电话', sort: true}
                    , {field: 'shouhuoname', width: 80, title: '收货人', sort: true}
                    , {field: 'dianhua', width: 80, title: '收货人电话', sort: true}
                ]
            ]
        });
    });
    }

    function fangfa1(){
        var id = $("#shouId").val();
        layui.use('table', function () {
            var table = layui.table;
            table.render({
                elem: '#test1'
                , url: '../ground/referdetailed?id='+id
                , cols: [
                    [
                        {field: 'nameCommodity', width: 80, title: '货物名称', sort: true}
                        , {field: 'cargoInformation', title: '单件重量', sort: true}
                    ]
                ]
            });
        });
    }

    function fangfa2(){
        var id = $("#shouId").val();
        $.ajax({
             url: '../ground/referdetailed?id='+id,
            type:"post",
            success:function(data){
                $("#spanid").html(data.data[0].yuguprice);
            }
        })
    }

    function fangfa3(){
        var element = layui.element;
        var id = $("#shouId").val();
        $.ajax({
            url: '../ground/referdetailed?id='+id,
            type:"post",
            success:function(data){
                if (data.data[0].status==1){
                    element.progress('demo','30%');
                }
                if (data.data[0].status==2){
                    element.progress('demo','60%');
                }
                if (data.data[0].status==3){
                    element.progress('demo','100%');
                }
            }
        })
    }

    function fangfa4(){
        var id = $("#shouId").val();
        $.ajax({
            url: '../ground/updatedetailed?id='+id,
            type:"post",
            success:function(){
                diaLogOne("../ground/torefused?id="+id);
            }
        })
    }

    function diaLogOne(HTMLurl){

        layer.open({
            title:"添加理由",
            content: getJspHtml(HTMLurl),
        });
    }

    // 新增   发送ajax请求获取jsp页面内容
    function getJspHtml(HTMLurl){
        //alert("getJspHtml(HTMLurl)查看详情的--------------"+HTMLurl);
        var  jspHtml = "";
        $.ajax({
            url :HTMLurl,// 弹框里是：  /test/project/addPage.do
            type : "post",
            async:false,//需要注意的   应是同步请求
            success : function (data){
                //返回的data为     bootstarpDialog.jsp  的页面内容
                //alert("getJspHtml(HTMLurl)------"+data);
                jspHtml = data;
            },error : function (){
                alert("ajax失败");
            }
        })
        //将data返回的jsp内容  填充到dialog方法的   message  属性中
        return jspHtml;
    }

    function updatestatus(){
        var id = $("#shouId").val();
        $.ajax({
            url: '../ground/updatestatus?id='+id,
            type:"post",
            success:function(data){
              alert("受理成功");
            }
        })
    }
</script>
</html>